body {
    background-color: #ffffff;
    color: #434343;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

h1 {
    color: #000000;
}

.subtitle {
    padding-top: 10px;
    padding-bottom: 20px;
}

.button {
    background-color: #6667AB;
    color: #ffffff;
    font-size: 20px;
}

.navbar {
    background-color: #F7F8F9;
    color: #222222;
    font-size: 20px;
}

footer {
    color: #ffffff;
    background-color: #6667AB;
    font-size: 15px;
    margin-top: 60px;
    padding: 20px 40px;
}

div.vis {
    min-width: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
}

svg g text {
    padding: 1em;
}

svg g:hover {
    cursor: pointer;
}

img.logo {
    height: 4em;
    width: auto;
}

.filter-button {
    background-color: #6667ab;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 5px;
}

.filter-button:hover {
    background-color: #4c4e87;
}

summary::marker {
    color: #6667ab;
    font-size: 1.2em;
}

.container {
    width: 100%;
    margin-left: 10%;
}

.columns {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    min-width: 600px;
}

a {
    word-wrap: break-word;
    word-break: break-word;
}